.gnb-mobile {
  position: relative;
  width: 100vw;
  height: 70px;
  background-color: $primary;

  .logo {
    img {
      @include position-center;
      // display: block;
      width: 45px;
    }
  }

  .gnb-wrapper {
    @include flexbox(between);
    width: 100%;
    height: 70px;
  }
}
